gunicorn>=17.5
SQLAlchemy>=0.9.8
psycopg2>=2.4.5
Flask-SQLAlchemy>=2.0
Flask-Cache>=0.13.1
-e git://github.com/congocongo/flask-hipchat-addon.git@053804416bdb5fb83193eefe5aba0e5394871be8#egg=flask-hipchat-addon
closeio-api>=0.1
