<b>{{lead.display_name}}</b><br/>
{% if lead.contacts %}
  <b>Contacts:</b> {% if lead.contacts[0].name %}{{lead.contacts[0].name}}{% else %}Unnamed{% endif %}
  {% if lead.contacts|length > 1 %}+{{ lead.contacts|length - 1}}{% endif %}<br/>
{% endif %}
<b>Status:</b> {{lead.status_label}}<br/>
{% if lead.opportunities %}
<b>Opportunities:</b>
  {# {{organization.currency_symbol}} #} {{lead.opportunities[0].value}}
  {{lead.opportunities[0].value_period}} {{lead.opportunities[0].status_label}} opportunity
{% endif %}

